h2{
  padding-top: 8%;
  padding-bottom: 1%;
  padding-left: 15%;
  color: #004d40;
  font-style: italic;
  font-size: 190%;
  font-family: GillSans;
  max-height: 85px;
}

#logo{
  height: 150%;
  margin-left: 1%;
}
.social{
  max-width: 70px;
}

html {
        background: url(http://www.exocomics.com/comics/desktop/14_250/EXO250_1920_1080.jpg) repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
.titulo{
  font-style:italic;
  font-size: 150%;
  color: black;
}
.marg{
  margin-right: 20px;
}
.blog {
  opacity: 0.95;
}
#comentario{
  opacity: 1;
}
