

body{
  background: url(http://img3.themebin.com/1920x1200/music_pattern.jpg) repeat center center fixed;
  background-size: cover;
}
.wallpaper{
    background: url(http://img3.themebin.com/1920x1200/music_pattern.jpg)  center center;
    background-size: cover;
}
.container, .wall2 {
    background: url(https://wallpaperscraft.com/image/guitar_music_love_104599_1920x1080.jpg) repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.wall3{
  background-color: white;
}
.logo{
  height: 150px;
}
.lateral{
  padding-top: 70px;
}

.btn-mg{
  width: 10vw;
  min-width: 100px;
}
.media{
  height: 30px;
  background-color: white;
}
